<!DOCTYPE html>
<html>
  <head>
    <title>福岡大学ポケモンサークル</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><h2>福岡大学 ポケモンサークル トウカのもり</h2></header>

<div class="main">
  <div class="side-left">
    <!-- トウカのもり関係はここ -->
    <ul>
      <li class='normal'>
        <span style="font-size: medium;">
          <span class="cicle">●</span>
        </span>
        <span>
          <%= link_to 'ホーム' , root_path%>
        </span>
      </li>

      <li class='normal'>
        <span style="font-size: medium;">
          <span class="cicle">●</span>
        </span>
        <span>
          <%= link_to 'サークル紹介' , touka_about_path %>
        </span>
      </li>
    </ul>

    <!-- リンク関係はここ -->
    <ul>
      <li class='normal'>
        <span style="font-size: medium;">
          <span class="cicle">●</span>
        </span>
        <span>
          <a href="https://twitter.com/fukudai_pokemon" target='_blank' rel='noreferrer noopener'>トウカのもり公式X</a>
        </span>
      </li>

      <li class='normal'>
        <span style="font-size: medium;">
          <span class="cicle">●</span>
        </span>
        <span>
          <a href="https://www.instagram.com/toukanomori2016/" target='_blank' rel='noreferrer noopener'>トウカのもり公式Instagram</a>
        </span>
      </li>

      <li class='normal'>
        <span style="font-size: medium;">
          <span class="cicle">●</span>
        </span>
        <span>
          <a href="https://toukanomori.hatenablog.com/about" target='_blank' rel='noreferrer noopener'>トウカのもり公式ブログ</a>
        </span>
      </li>

      <li class='normal'>
        <span style="font-size: medium;">
          <span class="cicle">●</span>
        </span>
        <span>
          <a href="https://www.pokemon.co.jp/" target='_blank' rel='noreferrer noopener'>ポケットモンスターオフィシャルサイト</a>
        </span>
      </li>
    </ul>
  </div>

  <div class="side-right">
    <%= yield %>
  </div>
</div>



    <br>
    <span style="color: #333333; font-size: x-small;"> 
      当サイトはリンクフリーとなっています。<br>
      当サイトに関係のないサイトリンクはお断りすることがあります。<br>
      ポケットモンスター・ポケモン・Pokemonは任天堂・クリーチャーズ・ゲームフリークの登録商標です。<br>
      このサイトは個人（福岡大学ポケモンサークル トウカのもり）によるものであり、任天堂・ゲームフリーク・株式会社ポケモンとは無関係です。<br>
      また、当サイトで使用されている写真や絵の転載等はご遠慮いただきますようお願いいたします。 
    </span>

    <div id="copyright"><!--こちらはご自身のサイト名に変更してください↓ --> 
      Copyright (C) 2016 Pokemon Club Fukuoka University all rights reserved.
    </div>

  </body>
</html>
